@import url('./reset.css');

*{
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    column-gap: 10px;
    row-gap: 10px;
}

.item{
    /* width: 100px;
    height: 100px; */
    background-color: violet;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(231, 170, 255);
}


.item:nth-child(6){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sub-item{
    background-color: green;
    color: aliceblue;
    border: 1px solid blue;
}



